body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

table {
    border-collapse: collapse;
    width: 60%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #5731d2;
    color: white;
}

th, td {
    padding: 12px 15px;
    text-align: center;
}

th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}